<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Object Store POC</title>
	<link rel="stylesheet" href="../../pure_dojo/dijit/themes/claro/claro.css" media="screen"/>
	<style type="text/css">
		@import "../../pure_dojo/dojox/grid/resources/claroGrid.css";
		html, body {
		    width: 100%;
		    height: 100%;
		}
	</style>
	<!-- load DOJO -->
	<script src="../../pure_dojo/dojo/dojo.js"
			djConfig="baseUrl:'../../pure_dojo/dojo/',
					isDebug: false,
					parseOnLoad: true"></script>
</head>
<body class="claro">
	<h1>Grid Container</h1>
	<script>
	    dojo.require("dojox.layout.GridContainer");
	    dojo.require("dojox.widget.Portlet");
	    dojo.require("dijit.form.DropDownButton");
	    dojo.require("dijit.TooltipDialog");
	
	    dojo.addOnLoad(function() {
	        // create a new GridContainer:
	        var gridContainer = new dojox.layout.GridContainer({
	            nbZones: 3,
	            opacity: .5,
	            hasResizableColumns: true,
	            allowAutoScroll: false,
	            withHandles: true,
	            dragHandleClass: 'dijitTitlePaneTitle',
	            style: {
	                width: '100%'
	            },
	            acceptTypes: ['Portlet'],
	            isOffset: true
	        },
	        'placeHere');
	        // prepare some Content for the Portlet:
	        var portletContent1 = [
	        dojo.create('div', {
	            innerHTML: 'Some content within the Portlet "dynPortlet1".'
	        })];
	        // create a new Portlet:
	        var portlet1 = new dojox.widget.Portlet({
	            id: 'dynPortlet1',
	            closable: false,
	            dndType: 'Portlet',
	            title: 'Portlet "dynPortlet1"',
	            content: portletContent1
	        });
	        // create a new TooltipDialog:
	        var tooltipDialog = new dijit.TooltipDialog({
	            content: "Content for TooltipDialog",
	            style: {
	                width: '320px'
	            }
	        });
	        // create a new DropDownButton and assign the TooltipDialog:
	        var testButton = new dijit.form.DropDownButton({
	            label: "Click me",
	            dropDown: tooltipDialog
	        });
	        // add the DropDownButton to the Portlet:
	        portlet1.addChild(testButton);
	        // add the first Portlet to the GridContainer:
	        gridContainer.addChild(portlet1);
	        // startup GridContainer:
	        gridContainer.startup();
	    });
	</script>

	<div id='placeHere'>&nbsp;</div>
</body>
</html>
