<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Object Store POC</title>
	<link rel="stylesheet" href="../../pure_dojo/dijit/themes/claro/claro.css" media="screen"/>
	<style type="text/css">
		@import "../../pure_dojo/dojox/grid/resources/claroGrid.css";
		html, body {
		    width: 100%;
		    height: 100%;
		}
	</style>
	<!-- load DOJO -->
	<script src="../../pure_dojo/dojo/dojo.js"
			djConfig="baseUrl:'../../pure_dojo/dojo/',
					isDebug: false,
					parseOnLoad: true"></script>
</head>
<body class="claro">
	<h1>Grid Container</h1>
	<script>
	    dojo.require("dijit.dijit");
	    dojo.require("dojox.layout.TableContainer");
	    dojo.require("dijit.form.TextBox");
	    dojo.require("dijit.form.CheckBox");
	    dojo.require("dijit.form.NumberSpinner");
	</script>

	<div dojoType="dijit.form.TextBox" title="First Name:" value="Eamonn"></div>

      <div dojoType="dojox.layout.TableContainer" cols="2" id="tc1" customClass="justLabels">
          <div dojoType="dijit.form.TextBox" title="First Name:" value="Eamonn">
          </div>
          <div dojoType="dijit.form.TextBox" title="Last Name:" value="De Valera">
          </div>
          <div dojoType="dijit.form.CheckBox" title="Employed">
          </div>
          <div dojoType="dijit.form.NumberSpinner" title="Age" value="40">
          </div>
      </div>
</body>
</html>
